@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Arvo'; /* This is the name you'll use to reference the font */
  src: url('../fonts/Quicksand-Light.ttf') format('truetype');
      
  font-weight: normal; /* Define the weight (e.g., normal, bold, 300, 700) */
  font-style: normal; /* Define the style (e.g., normal, italic) */
  font-display: swap; /* Recommended for performance (see explanation below) */
}

body{
  font-family: "Arvo";
}

.navbar{
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.125);
  padding: 10px 10px;
  position:relative;
}
.navbar h1{
  color:#83b38f;
  /* hex #304eff
  rgb (48, 78, 255) */
}


.navbar .nav-link:hover{
  color: #83b38f;
  font-weight:700;
}

.nav-link.active{
  color:#0bcf04;
}


.footer{
  border-top: 1px solid #ddd;
}

.footer p{
  color: #83b38f;
}




.create label{
  display: block;
  margin-bottom: .5rem;
}

.create input{
  outline: none;
  width: 500px;
  height: 40px;
  border: 1px solid #83b38f;
  border-radius: 5px;
  margin-bottom: .5rem;
}
.create input:focus{
  outline: 4px solid #bfe2c8;
}

.create textarea{
  outline: none;
  width: 500px;
  height: 100px;
  border: 1px solid #83b38f;
  border-radius: 5px;
  margin-bottom: .5rem;
}

.create textarea:focus{
  outline: 4px solid #bfe2c8;
}

.create select{
  outline: none;
  width: 500px;
  height: 40px;
  border: 1px solid #83b38f;
  border-radius: 5px;
  margin-bottom: .5rem;
}

.create select:focus{
  outline: 3px solid #bfe2c8;
}

.create button, button{
  border: none;
  background: #83b38f;
  color: white;
  border-radius: 5px;
  display: block;
  width: 200px;
  height: 40px;
  cursor: pointer;
}

 button:hover{
  background-color: white;
  color: #83b38f;
  font-weight: 700;
  border: 1px solid #83b38f;
}

.direct-contact{
  height: 120px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: all .5s ease;
}

.direct-contact:hover{
  height: 125px;
}

.aboutme{
  border-radius: 5px;
 height: 370px;
  background: #f8f9fa;

}

.project {
  border-radius: 5px;
 height: 400px;
  background: #f8f9fa;
}

ul li a{
  display: inline-block;
  padding: 20px;
}

.toggler{
  position: absolute;
  top: 0px;
  right: 10px;
  display: none;
}

.wrapper{
  position: relative;
}
.wrapper-child{
  position:absolute;
  top: 10px;
  left: 7%;
  color: white;
  display: none;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.wrapper:hover .wrapper-child{
  display: block;
}
@media screen and (max-width:550px){
  .navbar .toggler{
      display: block;
  }
 
  .navbar.add{
      display: block;
  }
  .navbar.add  .toggler .menu{
      display: none;

  }
  .navbar .toggler .menu{
      display: block;
  }

  .navbar.add  .toggler .x{
      display: block;

  }
  .navbar .toggler .x{
      display: none;
  }
  .navbar.add  ul{
      display: block;
  }
  .navbar ul{
      display: none;
  }
}